services:
  flask:
    # The name of the service is 'flask'
    build:
      context: .  # This refers to the current directory, where your Dockerfile is located
      dockerfile: Dockerfile  # You can specify a different Dockerfile name if necessary
    container_name: flask_app  # Name of the running container
    working_dir: /usr/src/app  # Add this line
    environment:
      - PYTHONPATH=/usr/src/app
      - FLASK_APP=app:app  # Assuming your Flask app instance is named 'app' in app/__init__.py
      - FLASK_ENV=development
    volumes:
      - ./:/usr/src/app    # mount project root so /usr/src/app/app is the package
    ports:
      - "5100:5000"  # Expose Flask app on port 5000
    command: ["conda", "run", "--no-capture-output", "-n", "pcd", "flask", "run", "--host=0.0.0.0", "--port=5000", "--reload"]
    restart: unless-stopped
    depends_on:
      - flask_db  # If you have a database service, you can define it here as a dependency (optional)

  flask_db:
    image: postgres:latest  # Example for adding a PostgreSQL database service
    container_name: flask_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: flaskdb
    ports:
      - "5432:5432"  # Expose the PostgreSQL port
    volumes:
      - flask_db_data:/var/lib/postgresql/data  # Store data persistently

volumes:
  flask_db_data:  # This is for persistent storage of your database data
